# Project name for Docker Compose
COMPOSE_PROJECT_NAME=ject_hub

# MySQL Root Password
MYSQL_ROOT_PASSWORD=rootpassword

# Hub Database
MYSQL_HUB_DB=hub_db
MYSQL_HUB_USER=hub_user
MYSQL_HUB_PASSWORD=hub_password

# Pulse Database
MYSQL_PULSE_DB=pulse_db
MYSQL_PULSE_USER=pulse_user
MYSQL_PULSE_PASSWORD=pulse_password

# Service Database
MYSQL_SERVICE_DB=service_db
MYSQL_SERVICE_USER=service_user
MYSQL_SERVICE_PASSWORD=service_password

# Control Database
MYSQL_CONTROL_DB=control_db
MYSQL_CONTROL_USER=control_user
MYSQL_CONTROL_PASSWORD=control_password

# Kafka Configuration
KAFKA_NODE_ID=1
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
